.containerNav{
   
    text-align: center;
    font-size: medium;
    font-family:Arial, Helvetica, sans-serif ;
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    height: 28px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
    background: white;

}

.containerNav a {
    text-decoration: none;
    color: #4580a6;
}