.button{
    width: 33px;
    height: 33px;
    margin: 5px;
    border-radius: 15px;
    text-align: center;
  }
  .new_user{
    width: 54px;
  }
  input{
    width: 200px;
    height: 30px;
    margin: 10px;
    border-radius: 10px;
  
  }

  #slovaLista, #slovaGraf {
    cursor: pointer;
 
  }

  #slovaLista:hover, #slovaGraf:hover {
    background-color: lightgray;
    
  }
.senzorInformation{
  align-self: center;
}
  
  .opcije {
    display: flex;
    flex-direction: row;
    width: 150px;
    border: 1px solid black;
    align-items: center;
    justify-content: space-around;
    margin: 5px;
  }

  .bold{
    font-weight: bold;
  }

  .slova{
    height: 33px;
    text-align: left;

    font-family:Arial, Helvetica, sans-serif;
  }
  .button1Home{
    width: 43px;
    height: 33px;
    margin: 5px;
    border-radius: 15px;
    text-align: center;
  } 
  .inputButtonHome{
    display: flex;
    flex-direction: row;
    justify-content:center;
    text-align: center;
    font-size: 15px;
    font-family:Arial, Helvetica, sans-serif;
    margin: 5px;
  
  }

  .arrows{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
  }
  .arrow-right {
    width: 0; 
    height: 0; 
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;

    border-left: 20px solid blue;
    cursor: pointer;
  }
  
  .arrow-left {
    width: 0; 
    height: 0; 
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent; 
    
    border-right:20px solid blue; 
    cursor: pointer;
  }
  .date{
      font-size: 18px;
  }
  .form_add_user {
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 1px solid;
    padding-bottom: 20px;
    padding-top: 10px;
  }
  .containerHome{
    width: 80%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: white;
    color: rgb(94, 21, 81);
    
    font-family:Arial, Helvetica, sans-serif;
  }
  .menuLists {
    background-color: rgb(236, 240, 241);
    width:20%;
    margin: 0;
  }
  .menuLists ul{
    list-style-type:none;
    padding: 0;
    margin: 0;
    
  }
  .menuLists ul li{
    width:100%;
    height: 40px;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

 .menuLists ul li:hover{
    background-color: lightblue;
  }
  .bodySenzor{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
  }


  .graf{
    display: flex;
    flex-direction: column;
    justify-content:center;
   
    height: 500px;
    text-align: center;
    font-size: 15px;
    font-family:Arial, Helvetica, sans-serif;
    margin: 5px;
    background-color: rgb(103, 85, 105);
  }

  .sensor-table{
   
    border-top: 2px solid;
    margin:10px
  }

  .sensor-row{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-right:2px solid;
  }

  .tip, .value_entered, .unit{
    border-left:2px solid;
    border-bottom:2px solid;
    width:33%;
    padding:8px;
    text-align: center;
    background-color: #4580a61c;

  }


  .title {
    background-color: #4580a670;
  }
  @media only screen and (max-width: 640px) {
    .inputButtonHome {
      font-size: 13px;

    }
  }